<div class="flex flex-col gap-4">
  <h1 class="font-bold text-3xl">Crear nuevo usuario</h1>
  <div class="flex flex-col items-center gap-2">
    <label class="flex flex-col px-2 py-1 w-80 border-2 rounded-md" for="">
      <span>Nombre de Tienda</span>
      <input class="outline-none"
      type="text"
      placeholder="Inserta un Nombre"
      >
    </label>
    <label class="flex flex-col px-2 py-1 w-80 border-2 rounded-md" for="">
      <span>Email de la Tienda</span>
      <input class="outline-none"
      type="text"
      placeholder="Inserta un Email">
    </label>
    <label class="flex flex-col px-2 py-1 w-80 border-2 rounded-md" for="">
        <span>Filtrar por roles</span>
        <select class="outline-none"
        name="Roles"
        id="roles">
            <option value="Tripulante">Tripulante</option>
            <option value="Programador">Programador</option>
            <option value="QA">QA</option>
            <option value="Administrador">Administrador</option>
        </select>
    </label>
  </div>
</div>
